Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки 
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [109]:
import pandas as pd
import numpy as np

In [110]:
from sklearn.datasets import load_boston

In [111]:
boston = load_boston()

In [112]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [113]:
data = boston.data
target = boston.target
feature_names = boston.feature_names

In [114]:
X = pd.DataFrame(data, columns = feature_names)

In [115]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [116]:
X.info()#проверка на пропущенные значения

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [117]:
y = pd.DataFrame(target, columns = ['price'], dtype = int)

In [118]:
y.head()#проверка на пропущенные значения

   price
0     24
1     21
2     34
3     33
4     36

In [119]:
#Разбиение на тренировочный и тестовый датафреймы

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [122]:
#построение модели линейной регрессии

In [123]:
from sklearn.linear_model import LinearRegression

In [124]:
lr = LinearRegression()

In [125]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [126]:
y_pred = lr.predict(X_test)

In [127]:
check_test = pd.DataFrame({'y_test': y_test['price'], 'y_pred':y_pred.flatten()}, columns =['y_test','y_pred'])

In [128]:
check_test.head(10)

     y_test     y_pred
173      23  28.230219
274      32  36.203774
491      13  15.025485
72       22  25.049459
452      16  18.359611
76       20  22.810330
316      17  16.948851
140      14  13.651022
471      19  22.674306
500      16  20.114077

In [129]:
from sklearn.metrics import mean_absolute_error

In [130]:
mse = mean_absolute_error(y_train, lr.predict(X_train))
mse

3.3725797618857167

In [184]:
mse = mean_absolute_error(y_test,lr.predict(X_test))
mse

3.167016639649338

In [132]:
#r2

In [133]:
from sklearn.metrics import r2_score

In [134]:
 r2_score(y_test,y_pred)

0.7114342055845919

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000, 
max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, 
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [135]:
from sklearn.ensemble import RandomForestClassifier

In [136]:
from sklearn.model_selection import GridSearchCV

In [195]:
parameters = [{'n_estimators': [10,1000],
               'max_depth': [5,10]
        
               }]

In [196]:
clf = GridSearchCV(estimator = RandomForestClassifier(random_state=42), 
                   param_grid = parameters, 
                   scoring = 'accuracy',
                   cv =5)

In [197]:
clf.fit(X_train, y_train.values[:, 0])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'n_estimators': [10, 1000], 'max_depth': [5, 10]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [198]:
clf.best_params_

{'max_depth': 10, 'n_estimators': 1000}

In [199]:
y_pred = clf.predict(X_test)

In [200]:
mse = mean_absolute_error(y_train, lr.predict(X_train))
mse

3.3725797618857167

In [201]:
mse = mean_absolute_error(y_test,lr.predict(X_test))
mse

3.167016639649338

In [202]:
 r2_score(y_test,y_pred)

0.8501389183750704

In [203]:
clf = RandomForestClassifier(max_depth=5,n_estimators=100, random_state=42)
clf.fit(X_train, y_train.values[:, 0])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

для данного датасета модель использованием Random Forest лучше подходит для используемого датасета - R2 = 0.85, против 0.71 в модели линейной регресии.

In [206]:
from sklearn.ensemble import RandomForestRegressor

In [208]:
RandomForestRegressor?

feature_importances_ : array of shape = [n_features]
    The feature importances (the higher, the more important the feature).